<!DOCTYPE html>
<html>
<head>
  <title>Lista de productos</title>
</head>
<body>
  <h1>Lista de productos (sin Websockets)</h1>
  <ul>
    {{#each products}}
    <p>{{this.title}}</p>
    {{/each}}
  </ul>
</body>
</html>