 <h1>Compra Confirmada</h1>

    <h2>Datos del Ticket:</h2>
    <p>Código del Ticket: {{ticket.code}}</p>
    <p>Fecha de Compra: {{ticket.purchase_datetime}}</p>
    <p>Monto Total: ${{ticket.amount}}</p>
    <p>Comprador: {{purchaserName}}</p>
    <a href="/products" class="btn btn-primary">Volver a Productos</a>
    
